<nav>
    <div class="logo">
        <h3>Steph's <span>Blog</span></h3>
    </div>
    <ul>
        <li class="nav-item"><a href="/">Home</a> </li>
        <li class="nav-item"><a href="/about">About</a> </li>
        <li class="nav-item"><a href="/create">Create</a> </li>
    </ul>
</nav>