<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>

<body>
    <%- include("../partials/nav.ejs")%>
    <h1 class="about-title">About Me</h1>
    <p class="about-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, facilis! Reprehenderit laudantium itaque exercitationem nulla asperiores nisi rem ducimus ut?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae repellat doloremque, laborum harum vero atque qui iure eaque nemo eius alias, molestiae tempore doloribus, provident ullam in cupiditate. Commodi, rem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptatem quibusdam laborum nobis eos rerum adipisci sunt aut similique! Molestiae perferendis atque quia libero deleniti ipsum aliquid, molestias cupiditate sed!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nemo rem facilis ut rerum! Quam dolor eos ducimus corporis dolorem accusamus, delectus ut dignissimos velit eveniet sed veritatis modi eaque.
    </p>
    <p class="about-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, facilis! Reprehenderit laudantium itaque exercitationem nulla asperiores nisi rem ducimus ut?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae repellat doloremque, laborum harum vero atque qui iure eaque nemo eius alias, molestiae tempore doloribus, provident ullam in cupiditate. Commodi, rem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptatem quibusdam laborum nobis eos rerum adipisci sunt aut similique! Molestiae perferendis atque quia libero deleniti ipsum aliquid, molestias cupiditate sed!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nemo rem facilis ut rerum! Quam dolor eos ducimus corporis dolorem accusamus, delectus ut dignissimos velit eveniet sed veritatis modi eaque.
    </p>
    <%- include("../partials/footer.ejs")%>

</body>
</html>