<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>

<body>
    <%- include("../partials/nav.ejs")%>

    <form action="/" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required placeholder="Enter title..."> <br/>
        <label for="snippet">Snippet:</label>
        <input type="text" id="snippet" name="snippet" required placeholder="Enter snippet..."> <br/>
        <label for="body">Body:</label> <br/>
        <textarea type="text" id="body" name="body" required placeholder="Enter body..."></textarea> <br/>
        <input type="submit" value="SUBMIT">
    </form>
    <%- include("../partials/footer.ejs")%>

</body>
</html>